<%- include("./partials/header") %>

<div class="row">
    <div style="width: 40%; margin: 20px auto;">
        <h3 style="text-align:center;">Forgot Password</h3>
        <br>
        <form action="/forgot" method="POST">
            <div class="form-group">
                <input type="email" name="email" autofocus class="form-control" placeholder="email">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-lg btn-outline-secondary btn-block">Reset Password</button>
            </div>
        </form>
    </div>
</div>

<%- include("./partials/footer") %>