<html>

<head>
	<meta charset="UTF-8">
	<title>React Basics</title>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
	<link rel="stylesheet" href="decorate.css">
</head>

<body>
	<div id="container">

	</div>
        <script type="text/babel">
        
            class CustomText extends React.Component {
                constructor(props, context) {
                    super(props, context)
                    this.myText = null;
                    this.setTextRef = element => {
                    /* this.myText is a reference to the element
                    and can be used to perform raw DOM operations */
                    this.myText = element;
                    }
                    this.changeText = event => {
                        this.myText.innerHTML = "Changed";
                        var i = Math.floor(Math.random()*5);
                        this.myText.innerHTML = colors[i];
                        this.myText.style.color = colors[i];
                    }
                }

                render() {
                    return (
                        <div>
                            <h1 ref={this.setTextRef}>This is my text</h1>
                            <input type="button" value="Change the text" onClick={this.changeText}/>
                        </div>
                    )
                }
            }
            ReactDOM.render(<CustomText/>,document.querySelector('#container'));
        </script>
</body>
</html>