<%- include("./partials/header") %>

<div class="row">
    <div style="width: 30%; margin: 20px auto;">
        <h3 style="text-align:center;">Add new todo to <%=containerName%></h3>
        <br>
        <form action="/home/<%=id%>/newtodo" method="POST">
            <div class="form-group">
                <input name="todo" type="text" autofocus class="form-control" placeholder="todo item">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-lg btn-outline-secondary btn-block">Add</button>
            </div>
        </form>
    </div>
</div>

<%- include("./partials/footer") %>