<%- include("./partials/header") %>

<form action="/home/newcontainer" method="POST">
    <input name="container" type="text" placeholder="container name">
    <button>Submit</button>
</form>

<%- include("./partials/footer") %>